@model WebApplication2.Models.NewProduct

@{
    ViewBag.Title = "New Product";
}

<div class="text-center">
    <h1 class="display-4">Let's Create a New Product</h1>

    <!-- Form should post to the same URL it was rendered from -->   
    <form asp-action="Profile" method="post" enctype="multipart/form-data">        
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Info"></label>
            <input type="text" asp-for="Info" />
        </div>
        <div>
            <!--  <label asp-for="images"></label>   -->
            <input type="file" asp-for="images" />
            <span asp-validation-for="images" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create a Product</button>
    </form>
</div>