@model WebApplication2.Models.Product
@{
    ViewData["Title"] = "Create Product";
}

<div class="text-center">
    <h1 class="display-4">What up BITCH</h1>
    <p>Lets create a new product !!! </p>
    <p> Number of Products @Model.Id @Model.Name </p>
    <form asp-action = "Increase" method="post" onclick="">
        <button type="submit" class="btn btn-primary" >Create a Product</button>    
    </form>
</div> 