@model WebApplication2.Models.LoginModel;
@{
}
<div class="text-center">
    <h1 class="display-4">Let's Create a you an Account</h1>
    @{
        Console.WriteLine("I was here !!!");
    }
    <!-- Form should post to the same URL it was rendered from -->
    <form asp-action="Login" method="post" enctype="multipart/form-data">
        <div>
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
