@model WebApplication2.Models.Product
@{
    ViewData["Title"] = "Create Product";
}

<div class="text-center">
    <h1 class="display-4">What up BITCH</h1>
    <p>Lets create a new product !!! </p>
    <p> Number of Products @Model.Name</p>
</div> 