/* _content/WebApplication2/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-amt9qciysm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-amt9qciysm] {
  color: #0077cc;
}

.btn-primary[b-amt9qciysm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-amt9qciysm], .nav-pills .show > .nav-link[b-amt9qciysm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-amt9qciysm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-amt9qciysm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-amt9qciysm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-amt9qciysm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-amt9qciysm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/* My Stafffffff*/


/* Dropdown Button */
.dropbtn[b-amt9qciysm] {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown[b-amt9qciysm] {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content[b-amt9qciysm] {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a[b-amt9qciysm] {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover[b-amt9qciysm] {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content[b-amt9qciysm] {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn[b-amt9qciysm] {
    background-color: #3e8e41;
}
